<div class="h-100 d-flex flex-column">
  <div>
    <mat-tab-group></mat-tab-group>
    <div class="mat-tab-header">
      <div class="mat-tab-label-container container">
        <app-logo></app-logo>
      </div>
    </div>
  </div>
  <div class="bg-light flex-grow-1 d-flex align-items-center">
    <div class="w-100 mb-5">
      <div class="d-flex flex-column align-items-center">
        <form [formGroup]="login" >
          <div class="mat-h1">Login</div>
          <mat-form-field class="mt-2">
            <input matInput placeholder="Username" type="text" formControlName="user">
            <mat-error *ngIf="formSubmited && login.get('user')?.invalid">Invalid Username</mat-error>
          </mat-form-field>
          <br>
          <mat-form-field class="mt-2">
            <input matInput placeholder="Password" type="password" formControlName="pass">
            <mat-error *ngIf="formSubmited && login.get('pass')?.invalid">Invalid Password</mat-error>
          </mat-form-field>
          <br>
          <button mat-flat-button color="primary" class="mt-2" (click)="validateCred()" type="button">Login</button>
        </form>
      </div>
    </div>
  </div>
</div>
